
*{
    box-sizing: border-box;
    font-family: Inter;
}.parent{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    gap:10px;
    width:80%;
    height:60%;
    margin:20px auto;

}
 .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .nav_elements{
    display: flex;
    flex-direction: row;
 }
 ul, ul a {
    list-style-type: none;
    text-decoration: none;
    color:gray
 }
 .nav{
    display:flex;
    gap:10px;
    
 }
 .mobile{
   display:block;

 }
 .imagel{
   width:60%;
 }

 .desktop{
   display: none;
 }
 .dropdown{
   display: none;
 }
 .middle_part{
    display:flex;
    justify-content: space-between;
    gap:10px;
    /* height:400px; */
 }
 .image{
    width:100%;
    

}
.image img{
   width:100%;
}
 .image_text{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    height:auto;
    gap:10px;
    
 }

   
 .text_align{
    display: flex;
    gap:10px;
    text-align: left;
 }
 .bright{
    width:40%;
    text-align: left;
    font-weight:800;
    padding-top:0;
    

 }
 .dive{
    width: 60%;
    text-align: left;
    /* padding-top:0;
    padding:0 5px; */
    
 }
 /* .more, */ .more a{
    display:block;
    text-decoration: none;
    background-color:hsl(5, 85%, 63%);
    color:black;
    margin-top:10px;
    padding:5px;
    text-align: center;
    width: 60%;
 }
 
 .dark_part{
    width:32.5%;
    height:auto;
    background-color: black;
    color:hsl(0,0%,100%);
    padding:2px 15px;
 }
 .bolder{
    font-weight: 700;
 }
 .bottom_part{
    display:flex;
    gap:10px;
 }
 .first_img{
    display:flex;
    gap:10px;
 }
 .second_img{
    display:flex;
    gap:10px;
 }
 .third_img{
    display:flex;
    gap:10px;
 }
 .img{
    width:100px;
 }
 .spanny{
    display:flex;
    flex-direction: column;
    gap:10px;
 }
 .number{
    color:hsl(5, 85%, 63%);
    font-size:20px;
    font-weight: 700;

 }
 .boldp{
    color:black;


 }
 .lightp{
    color:gray;

 }
 .image-6{
   display: none;
 }
.sub{
   display:none;
}
 
 
 @media (max-width:400px) {
   
   .text_align{
      display: flex;
      flex-direction: column;
      gap:10px;
      text-align: left;
   }
   .middle_part{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      gap:10px;
   
 }
 .dropdown{
   display: block;
 }
 .parent{
   display:flex;
   flex-direction:column;
   justify-content: space-between;
   gap:10px;
   width:100%;
   height:60%;
   margin:20px auto;

}
.bottom_part{
   display:flex;
   flex-direction: column;
   gap:10px;
}
.image_text{
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height:auto;
   gap:10px;
   
}
.dark_part{
   width:100%;
   height:auto;
   background-color: black;
   color:hsl(0,0%,100%);
   padding:2px 15px;
}
.bright{
   width:100%;
   text-align: center;
   font-weight:800;
   padding-top:0;
   

}
.dive{
   width: 100%;
   text-align: center;
}
.nav_elements{
   display: flex;
   flex-direction: column;
   align-items: end;
   justify-items: end;
   background-color: rgb(248, 247, 246);
   box-shadow: 2px white;
   padding: 10px;
   position: fixed;
   top:0;
   right: 0;
   display:none;
}

ul, ul a {
   list-style-type: none;
   text-decoration: none;
   color:gray
}
.nav{
   display:flex;
   flex-direction: column;
   gap:10px;
   color: black;
   
}
.image-6{
   display: block;
   position: absolute;
   top:1px;
   right:2px;
   

}
.main{
   display: none;
}
.sub{
   display:block;
}
.image{
   width:100%;
}
.image img{
  width:100%;
}
 }